/* https://coolors.co/ff6700-f5f5f5-cccccc-0d1821-002d8f */
:root {
    --safety-orange-blaze-orange: #ff6700ff;
    --cultured: #f5f5f5ff;
    --light-gray: #ccccccff;
    --rich-black-fogra-29: #0d1821ff;
    --resolution-blue: #002d8fff;
    --ultramarine-blue: #1f66ffff;
    --egyptian-blue: #0034a3ff;
    --ed-university-blue: rgb(4,30,66);
    --ed-blue: rgb(0,114,136);
    --ed-bright-blue: rgb(0,196,223);
    --ed-light-blue: rgb(194,211,223);
    --ed-university-red: rgb(193,0,67);
    /* --bs-font-sans-serif: 'Roboto', sans-serif;
    --bs-font-serif: 'Roboto Slab', serif; */
    /* --bs-font-sans-serif: 'Lato', sans-serif;
    --bs-font-serif: 'Arvo', serif; */
}

/* To scroll to correct postions. Must be navbar height (56px) + data-bs-offset (10px)*/
.scroll-anchor {
    padding-top: 66px;
    margin-top: -66px;
}

.header-image {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-height: 100%;
    z-index: 0;
}

.profile-image {
    position:absolute;
    top: 0%;
    left: 50%;
    transform:translate(-50%,-50%);
    height: calc(150px + 10vw);
    z-index: 0;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid white;
}

.header-overlay {
    position: relative;
    z-index: 1;
}

.vertical-padding {
    padding-bottom: calc(75px + 5vw);
}

.container-fluid {
    padding-left: 0px;
}

.bg-dark {
    background-color: var(--ed-university-blue)!important;
}

a {
    color: var(--ed-bright-blue);
}

a:hover {
    color: var(--ed-blue);
}

/* h2,h3 {
    font-family: var(--bs-font-serif);
}

b {
    font-family: var(--bs-font-serif);
} */

/* body {
    font-weight: 300;
} */

.bg-light {
    background-color: var(--cultured)!important;
}

.feature-text {
    font-family: 'Pacifico', cursive;
    font-size: calc(1.75rem + 1.5vw);
}

.banner-text {
    text-shadow: 0px 0px 10px white;
    color: var(--ed-university-blue);
}